h1 {background-color: purple;
    background-size: 3000px 3000px;
    font-stretch: expanded}

h3 {background-color: red;
    background-size: 3000px 3000px;
    font-stretch: expanded}


button {font-size: 20px}

.alert { padding: 20px;
    opacity: 0;
    background-color: red;
    color:white;
    margin-bottom: 30px;
    font-size: 20px}