<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='EmployeeMain.css') }}"/>
<!--<link rel="stylesheet" type="text/css" href="../static/EmployeeMain.css"/>-->
    <title>Acknowledge</title>

    <style>
        html {
            background: url("{{url_for('static', filename='images/menu.jpg')}}") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    <h1>Acknowledge reservations</h1>

    <form action="{{ url_for('manage_rez') }}" id="ackForm" method="post">

        {% for r in reservations %}

        <b id="fromText">from: {{r['from']}}</b>

        <b id="toText">to: {{r['to']}}</b>

        <p>
            <b id="roomText">room id's: {{r['room_id']}}</b>
        </p>

        <p>
            <b id="pretText">pret: {{r['price']}}</b>
        </p>
        <p>
            <b id="Person count">persoane: {{r['nr_persoane']}}</b>
        </p>

        <p align="center">
            <input type="radio" id="accept" name="status_{{r['id']}}" value="True">
            <label for="accept">Accept</label><br><br>
            <input type="radio" id="decline" name="status_{{r['id']}}" value="False">
            <label for="decline">Decline</label><br><br>
        </p>

        {% endfor %}

        <p align="center">
            <button type="submit">Submit</button>
        </p>

    </form>

</body>
</html>