<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='EmployeeMain.css') }}"/>
<!--    <link rel="stylesheet" type="text/css" href="../static/EmployeeMain.css"/>-->
    <title>Home</title>

    <style>

        html {
            background: url("{{url_for('static', filename='images/menu.jpg')}}") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    <h1>EMP Interface</h1>
    <p align="center">
        <button onclick="window.location.href='{{ url_for('res_page') }}'">Create Reservation</button> <br><br>
        <button onclick="window.location.href='{{ url_for('ack_page') }}'">Acknowledge</button> <br><br>
        <button onclick="window.location.href='{{ url_for('logout') }}'">SIGN OUT</button>
    </p>
</body>
</html>