<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <!-- Link the .css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Do some things -->
    <d1 align="center">
        <h1>Hello World!</h1>
        <button id="b1" name="id" onclick="hello();">PUSH ME!</button> <p id="button txt"></p>
    </d1>
</body>
    <!-- Link the .js file -->
<script src="{{ url_for('static', filename='functions.js') }}"></script>
</html>