<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        {% if login_type == 'user' %}
           <!-- Cod de style pt pagina de 'user'-->
        {% else %}
           <!-- Cod de style pt pagina de 'employee' -->
        {% endif %}
    </style>
</head>

<body>
    <p id="yes">{{ login_type }}</p>
    <button id="b" onclick="hello();">Push</button>
    <p id="bp"></p>
</body>

<script>
    function hello() {
        var docType = "{{ login_type }}";
        console.log("PUSHED!");
        document.getElementById('bp').innerHTML = docType;
    }
</script>
</html>