<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='EmployeeMain.css') }}"/>
    <title>Pagina Rezervari</title>
</head>
<body>
    <h1>Create reservation</h1>
    <form action="{{ url_for('register_res')}}" method="post">
    <input type="hidden" value="{{hotel_data['id']}}" name="hotel" id="hotel">

    <p>
        <select name="nr_persoane" id="nr_persoane">
        {% for i in range(50) %}
            <option value={{i}}>{{i}}</option>
        {%endfor%}
        </select> Numar Persoane
    </p>

    <p >
        <input type="date" id="from" name="from"
        placeholder="dd-mm-yyyy" value=""
        min="2022-01-01" max="2030-12-31"> From
    </p>

    <p >
        <input type="date" id="to" name="to"
         placeholder="dd-mm-yyyy" value=""
         min="2022-01-01" max="2030-12-31"> To
    </p>
        <ul id="roomsList"></ul>

        <button type="submit">Submit Reservation</button>
    </form>

    <script>
        let from = document.getElementById("from");
        let to = document.getElementById("to");
        let rez = JSON.parse('{{rezervari | tojson}}');
        let hotel_data = JSON.parse('{{hotel_data | tojson}}');
        let ul = document.getElementById("roomsList")

        console.log(rez);
        console.log(hotel_data);

        from.addEventListener("change", roomsAvailable)
        to.addEventListener("change", roomsAvailable)

        function roomsAvailable() {
            let no_ids = [];
            let rooms = [];

            for(let i in rez){
                if(!(from.value > rez[i].to || to.value < rez[i].from)) {
                    for(let id in rez[i].room_id) {
                        no_ids.push(rez[i].room_id[id])
                    }
                }
            }

            for (let j in hotel_data.rooms) {
                if(!no_ids.includes(hotel_data.rooms[j].id)){
                    rooms.push(hotel_data.rooms[j])
                }
            }
            console.log(rooms)

            ul.innerHTML=""
            for (let k in rooms){
                let li = document.createElement("li")
                let divRoom = document.createElement("div")
                let labelRoomId = document.createElement("label")
                let labelRoomNrBeds = document.createElement("label")

                let checkbox = document.createElement("input")

                labelRoomId.innerHTML = "Room ID: " + rooms[k].id + "   "
                labelRoomNrBeds.innerHTML = "Room Nr Beds: " + rooms[k].nr_beds + "   "

                checkbox.type = "checkbox"
                checkbox.id = "room_" + rooms[k].id
                checkbox.name = "room_" + rooms[k].id
                checkbox.value = 1

                divRoom.appendChild(labelRoomId)
                divRoom.appendChild(labelRoomNrBeds)
                divRoom.appendChild(checkbox)

                li.appendChild(divRoom)
                ul.appendChild(li)
            }
        }
    </script>
</body>
</html>